<h1>Fill out this form</h1>

<form action="/hello" method="POST">
   A greeting: <input type="text" name="greet">
   <br/>
   Your name: <input type="text" name="name">
   <br/>
   <input type="submit">
</form>
